{% extends "layouts/app.twig" %}

{% block content %}


<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel-heading">Sign Up</div>
		<div class="panel-body">
			<form action="{{ path_for('Register')}}" method="post">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" class="form-control">
			</form>
		</div>
	</div>
</div>


{% endblock %}	
